body {
  font-family: "Montserrat";
}

.navbar {
  background-color: #16a085;
}

.nav-item {
  margin-right: 24px;
  font-weight: 600;
  color: white;
}

/* Carousel */
.carousel {
  height: 450px;
  background-color: #16a085;
  color: white;
}

.carousel h1 {
  font-family: "Montserrat";
}

.carousel p {
  font-weight: 200;
}

.features {
  background-color: #16a085;
}

.pete hr {
  width: 50%;
  border: 1px solid;
  color: #16a085;
}

.pete h1 {
  font-family: "Montserrat";
  color: #16a085;
  font-weight: 550;
}

#coba .coba1 {
  background-color: #16a085;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  width: 20rem;
}

.features h3,
.designer h3,
.similar-product h3,
.cart-header h3,
.checkout-modal-success h3 {
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
}

.features p,
.designer p,
footer p,
.similar-product p,
.cart-header p,
.checkout-modal-success p {
  font-weight: 200;
  color: #b7b7b7;
}

.figure h5 {
  color: #171717;
}

.figure-img {
  position: relative;
}

.figure-img a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
}

.figure-img:hover a {
  opacity: 1;
}

/* Breadcrumb */
.breadcrumb {
  margin-top: 100px;
}

.cart-breadcrumb {
  margin-top: 50px;
}

.product-thumbnail-container {
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 360px;
  padding: 8px;
  margin: auto;
  transform: translateY(-50px);
}

.product-thumbnail-container a:hover {
  text-decoration: none;
}

.btn-product {
  margin: 50px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaef;
}

.btn-product .btn {
  display: block;
  margin: 10px 0;
}

.designed-by h5 {
  font-size: 14px;
  font-weight: 200;
  color: #b7b7b7;
  margin-bottom: 20px;
}

.designed-by h4 {
  font-size: 18px;
  color: #171717;
}

.designed-by p {
  font-size: 14px;
  font-weight: 200;
  color: #171717;
}

.designed-by p span {
  color: #b7b7b7;
}

/* Product Description */
.product-description {
  background-color: #f6f7fb;
  height: 350px;
}

.product-description .tab-content {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-top: 0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
}

.product-description .tab-content p {
  font-size: 16px;
  font-weight: 200;
  color: #868686;
  line-height: 28px;
}

.product-review {
  height: 330px;
  overflow: scroll;
}

.product-review h5 {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 10px;
}

.product-review p {
  font-size: 14px !important;
}

.similar-product {
  margin-top: 180px;
  margin-bottom: 100px;
}

.checkout-detail {
  background-color: #f6f7fb;
  border: 1px solid #eaeaea;
  color: #171717;
}
