/* global style */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #16a085;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

section {
  padding: 5rem 0;
}

/* nav */
nav.navbar {
  z-index: 999;
  width: 100%;
}

.navbar-brand {
  width: 70px;
}

.nav-link {
  color: white !important;
  font-size: 1.2rem;
}

button.navbar-toggler {
  background: unset;
  border: unset;
  outline: unset;
}

/* jumbotron */
.jumbotron {
  background-color: var(--green);
  background-size: cover;
  width: 100%;
  height: 460px;
  background-position-x: -85px;
  position: relative;
}

.jumbotron::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  bottom: 0;
}

.jumbotron .container {
  z-index: 1;
  position: relative;
}

.jumbotron .display-4 {
  text-align: center;
  color: white;
  margin-top: 25%;
  font-size: 30px;
  font-weight: 200;
}

.display-4 span {
  font-weight: 500;
}

.container .info-panel {
  margin-top: -10rem;
  z-index: 2;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 12px;
}

.info-panel img {
  width: 5.5rem;
  float: left;
  margin-left: 15%;
}

.info-panel img::after {
  content: "";
  clear: both;
}

.info-panel p {
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 2px;
  margin-top: 1.8rem;
}

/* daftar offline */
section.daftar {
  margin-top: 4rem;
}

.daftar h2 {
  color: var(--green);
  text-align: center;
}

.daftar h5 {
  background: var(--green);
  display: block;
  width: 20%;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  color: white;
  letter-spacing: 0.2rem;
  font-weight: 200;
  margin: 2rem auto;
}

.cara-daftar {
  margin-top: 5.7rem;
}


.cara-daftar img {
  width: 35%;
  float: left;
  margin-right: 5rem;
}

.cara-daftar .cara-daftar::after {
  content: "";
  clear: both;
}

.petunjuk {
  position: relative;

}

.petunjuk span {
  position: absolute;
  display: inline-block;
  background: var(--green);
  margin-left: -3.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
}

.petunjuk p {
  font-size: 1.5rem;
  line-height: 2;
}

/* form daftar */
.form-daftar {
  border: 2px solid var(--green);
  padding: 20px;
  margin-top: 5rem;
  border-radius: 15px;
  margin-left: -3rem;
}

.form-daftar h2 {
  text-align: center;
}

.form-group input {
  font-size: 1.2rem;
  margin-bottom: 10px;
  height: 3rem;
  background: unset !important;
  outline: none !important;
  border: unset;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6) !important;
}

.custom-file {
  margin-bottom: 1.8rem;
}

.custom-file label {
  font-size: 1rem;
}

.form-daftar label {
  margin-top: 12px;
  font-size: 1.3rem;
  font-weight: 600;
}

.form-daftar button.btn-succes {
  outline: unset;
  border: unset;
  background: var(--green);
  padding: 1rem;
  color: white;
  width: 100%;
  font-size: 1.3rem;
  border-radius: 12px;
  margin-top: 12px;
}

.form-daftar button.btn-succes:hover {
  background-color: #106d5a;
  transition: 0.5s;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.download {
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.download h1 {
  margin-bottom: 4rem;
  text-align: center;
  color: var(--green);
  line-height: 4rem;
}

.download .barcode {
  display: flex;
}

.barcode img {
  width: 70%;
}

.barcode p {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  margin-top: 1.2rem;
}

.barcode p.android {
  margin-left: 4rem;
}

.barcode p.ios {
  margin-left: 6.4rem;
}

.mobile {
  margin-top: 3rem;
}

.mobile img {
  width: 70%;
  margin-bottom: 1.5rem;
}

/* footer */
.footer {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background: #367c6d;
  position: relative;
  left: 0;
  right: 0;
}

.footer h3,
.footer h1 {
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.footer p {
  color: rgb(224, 224, 224);
  font-weight: 500;
}

.footer .nav-footer {
  color: rgb(224, 224, 224);
}

.footer-top picture {
  display: flex;
}

.footer .footer-top img {
  width: 15rem;
  padding-right: 10px;
  opacity: 0.9;
}

.footer .footer-item {
  line-height: 3rem;
}

.nav-footer a {
  color: rgb(224, 224, 224);
  text-decoration: none;
  font-size: 1.3rem;
}

.sosmed .nav-footer {
  list-style: none;
  display: inline-block;
}

.sosmed-item {
  display: inline;
  margin-right: 5px;
}

.sosmed-link {
  border: 1px solid rgba(255, 255, 255, 1);
  display: inline-block;
  padding: 5px 8px;
  border-radius: 9px;
}

.sosmed-item .fa-instagram,
.sosmed-item .fa-facebook-square,
.sosmed-item .fa-youtube,
.sosmed-item .fa-twitter-square {
  font-size: 1.6rem;
  line-height: unset;
}

.footer-top .driver {
  padding-top: 1rem;
}

.footer-bottom hr {
  margin-top: 4rem;
  width: 100%;
  border: 1px solid rgb(211, 211, 211);
}

.footer-bottom p {
  color: rgb(211, 211, 211);
}

@media (max-width: 320px) {
  .jumbotron .display-4 {
    margin-top: 40%;
    font-size: 2.3rem;
  }

  .daftar h5 {
    width: 30%;
  }

  .info-panel img {
    margin-left: 5%;
  }

  .cara-daftar img {
    width: 40%;
    margin-right: 1rem;
  }

  .form-daftar {
    margin: auto;
  }

  .download {
    background: unset;
    margin-left: 2rem;
  }

  .barcode p.android {
    margin-left: 1rem;
  }

  .barcode p.ios {
    margin-left: 3rem;
  }
}

@media (max-width: 360px) {
  .jumbotron .display-4 {
    margin-top: 40%;
  }

  .info-panel img {
    margin-left: 10%;
  }

  .cara-daftar img {
    width: 30%;
    margin-right: 1.8rem;
  }

  .form-daftar {
    margin-left: -3rem;
  }
}

@media (min-width: 992px) {
  nav.navbar {
    background: var(--green);
  }

  .nav-link {
    margin-right: 30px;
    text-transform: uppercase;
    font-size: 1.4rem;
    color: white !important;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 2px solid white;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .jumbotron {
    height: 550px;
    background-position-x: 0px;
  }

  .jumbotron .display-4 {
    font-size: 60px;
    margin-top: 11%;
  }

  .container .info-panel {
    margin-top: -6.5rem;
    z-index: 2;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 12px;
  }

  .info-panel img {
    width: 7rem;
    margin-left: 6.9rem;
    float: unset;
  }

  .info-panel p {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: -0.2rem;
  }

  /* cara daftar */
  section.daftar {
    margin-top: 8rem;
  }

  .daftar h2 {
    text-align: unset;
    margin-left: 20rem;
  }

  .daftar h5 {
    width: 15%;
    padding: 10px;
    margin: 2rem 0 3rem 11.4rem;
    margin-left: 21rem;
  }

  .cara-daftar {
    margin-top: 6rem;
  }

  .cara-daftar img {
    width: 30% !important;
    margin-right: 5rem !important;
  }

  .petunjuk {
    position: relative;

  }

  .petunjuk span {
    line-height: 3rem;
  }

  .petunjuk p {
    font-size: 1.5rem;
    line-height: 2.4;
  }

  .cara-daftar img {
    width: 40%;
    float: left;
    margin-right: 30px;
  }

  .form-daftar {
    margin-top: unset;
    margin-left: unset;
  }

  .form-daftar h2 {
    margin-left: 12.3rem;
    text-align: unset;
  }

  .download h1 {
    margin-bottom: 8rem;
  }

  .barcode p {
    margin-top: 1.8rem;
  }

  .barcode p.android {
    margin-left: 2.5rem;
  }

  .barcode p.ios {
    margin-left: 4rem;
  }

  .mobile {
    margin-top: unset;
  }

  .download .mobile::before {
    content: "";
    display: block;
    position: absolute;
    height: 20rem;
    width: 0.5rem;
    background-color: var(--green);
    top: -2rem;
    left: -11rem;
  }

  /* footer */
  footer.footer {
    padding: 3rem 0 1rem 0;
    background: #367c6d;
  }

  .footer h3,
  .footer h1 {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 2.8rem;
  }

  .footer p {
    color: rgb(224, 224, 224);
    font-weight: 500;
    font-size: 1.7rem;
  }

  .footer .nav-footer {
    color: rgb(224, 224, 224);
  }

  .footer .footer-top img {
    width: 15rem;
    padding-right: 10px;
    opacity: 0.9;
  }

  .footer .footer-item {
    line-height: 2.5rem;
  }

  .footer .footer-item:hover {
    transform: translateX(5px);
    transition: 0.5s;
  }

  .nav-footer a {
    color: rgb(224, 224, 224);
    text-decoration: none;
    font-size: 1.5rem;
  }

  .sosmed .nav-footer {
    list-style: none;
    display: inline-block;
  }

  .sosmed-item {
    display: inline;
    margin-right: 5px;
  }

  .sosmed-link {
    border: 1px solid rgba(255, 255, 255, 1);
    display: inline-block;
    padding: 5px 8px;
    border-radius: 9px;
  }

  .sosmed-item .fa-instagram,
  .sosmed-item .fa-facebook-square,
  .sosmed-item .fa-youtube,
  .sosmed-item .fa-twitter-square {
    font-size: 2rem;
    line-height: unset;
    transform: translateY(2px);
  }

  .footer-top .driver {
    padding-top: 10px;
  }

  .footer-bottom p {
    color: rgb(211, 211, 211);
  }
}